@import url("https://fonts.googleapis.com/css?family=Oswald|Playfair+Display|Roboto&display=swap");

html,
body {
  width: 100%;
  background-color: #f7edf0;
}

.landing-page {
  background-image: url("./images/chai.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.brand-title {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
}

#brand-link {
  color: #4c4c4c;
}

#brand-link:hover {
  color: #eea1a0;
}

.navbar-item:hover {
  color: #eea1a0 !important;
}

.footer-title {
  font-family: "Playfair Display", serif;
}

.shop-title {
  margin: 3rem;
  font-family: "Oswald", sans-serif;
}

.product-image {
  height: auto;
  width: auto;
  max-width: 645px;
  max-height: 645px;
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.product-name {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.container:hover .product-image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #f7edf0;
  color: #3f4e63;
  font-size: 16px;
  padding: 16px 32px;
}

.product-desc {
  font-family: "Playfair Display", serif;
  margin: 6rem;
  color: #312f30;
}

.product-title {
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
  color: #312f30;
  text-transform: uppercase;
}

.about-container {
  margin-top: 4rem;
  margin-bottom: 4rem;
  background-color: #ffffff;
}

.about-text {
  font-family: "Playfair Display", serif;
  padding: 3rem;
}

.shop-header {
  background-color: white;
  margin-bottom: 2.5rem;
  font-size: 2rem;
}

.form-container {
  margin: 4rem;
  /* background-color: white; */
  /* height: auto;
  width: auto; */
  /* max-width: 645px;
  max-height: 645px;
  padding: 6rem; */
}

.field-button {
  width: 200px;
  font-family: "Oswald", sans-serif;
  font-size: 2em;
}

.input-field {
  width: 142px !important;
}

.price {
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
  margin-top: 0.5rem;
}

.in-stock {
  margin: 10px 0px 10px 0px;
}
